*{
    box-sizing: border-box;    
}

body {
  
    margin: 0;
    background-image: repeating-linear-gradient(135deg, rgba(4, 229, 71,0.08) 0px, rgba(4, 229, 71,0.08) 1px,transparent 1px, transparent 9px),repeating-linear-gradient(45deg, rgba(4, 229, 71,0.08) 0px, rgba(4, 229, 71,0.08) 1px,transparent 1px, transparent 9px),linear-gradient(90deg, rgb(77, 18, 84),rgb(52, 161, 185));
}

.wrapper{
    width: fit-content;
    display: flex;    
    background-image: linear-gradient(to right bottom, rgba(255, 255, 255, 0.8),rgba(185, 184, 184, 0.6));
    margin: 4em;
    padding: 4em;
    border-radius: 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    border: 1px solid black;
}
.navbar{
    background-image: linear-gradient(to right bottom, rgba(255, 255, 255, 0.8),rgba(185, 184, 184, 0.6));
    padding-left: 5em;
    padding-right: 5em;
    border-radius: 0% 0% 10px 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    border: 1px solid black;
}
.formA{
    flex: 1;
}
.accueil-submit{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    border: 1px solid black;
    background-image: linear-gradient(to right bottom, rgba(255, 255, 255, 0.8),rgba(185, 184, 184, 0.6));
}
table{
    border: 1px solid black;
}
   
#titre{
    text-shadow: 8px 4px 4px rgba(0,0,0,0.90);
}   
#logo{
    font-size: 2em;
    fill:  linear-gradient(45deg, hsl(19,67%,54%),hsl(64,67%,54%),hsl(109,67%,54%),hsl(154,67%,54%),hsl(199,67%,54%),hsl(244,67%,54%),hsl(289,67%,54%),hsl(334,67%,54%));
}