*{
    box-sizing: border-box;    
}
body {
    margin: 0;
    background-image: linear-gradient(to right , rgb(114, 7, 74),rgb(232, 54, 104));
}
.wrapper{
    display: flex;    
    background-image: linear-gradient(to right bottom, rgba(255, 255, 255, 0.8),rgba(185, 184, 184, 0.6));
    margin-left: 5em;
    margin-right: 5em;
    margin-top: 2em;
    padding: 5em;
    padding-top: 0%;
    border-radius: 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    border: 1px solid black;
}
.formA{
    flex: 1;
}

.bannerTop{
    background-image: linear-gradient(to right bottom, rgb(32, 218, 233),rgb(7, 1, 70));
    
    justify-content: start;
    align-items: center;
    position: relative;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    border: 1px solid black;
    margin: 1em;
}
.menu{
    display: flex;
    justify-content: right;
    align-items: center;
    position: relative;
    margin: 1em;
}
.side-spaced{
    padding: 1em 3em;
}

.btn-grad {
    background-image: linear-gradient(to right, #1D2B64 0%, #F8CDDA  51%, #1D2B64  100%);
    margin: 5px;
    padding: 10px 25px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;            
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
    display: block;
    text-decoration: none;
}

.btn-grad:hover {
    background-position: right center; /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
}
input{
    background-size: 200% auto;
    box-shadow: 0 0 20px #eee;
    border-radius: 5px;
    display: block;
}

#recap {
    border-collapse: collapse;
    width: 100%;
}
#recap a{
    color: black;
    margin: 1em;
}

#recap td {
    border: 1px solid rgb(0, 0, 0);
    padding: 5px;
}
#recap th {
    border: 1px solid rgb(0, 0, 0);
    border-bottom: 0px;
    padding: 5px;
}
#recap th{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    
    background-color: burlywood;
}

#recap tr:nth-child(even){background-color: #fcd6d6;}

#recap tr:hover {background-color: #ddd;}
 
.modifier a{
    padding: 1px;
    margin:1px;

}
.notification { 
    text-decoration: none;
    padding: 10px 20px;
    position: relative;
    display: inline-block;
}
  
.notification .badge {
    position: absolute;
    top: -10px;
    right: -10px;
    padding: 5px 10px;
    border-radius: 50%;
    background-color: black;
    color: white;
}


/* -----------
info bulles
---------------*/
.picto-item {
    position: relative;  /*les .picto-item deviennent référents*/
    cursor: help;
    border-radius: 50%;
}

/* on génère un élément :after lors du survol et du focus :*/

.picto-item:hover:after,
.picto-item:focus:after {
    content: attr(aria-label);  /* on affiche aria-label */
    position: absolute;
    top: -2.4em;
    left: 50%;
    transform: translateX(-50%); /* on centre horizontalement  */
    z-index: 1; /* pour s'afficher au dessus des éléments en position relative */
    white-space: nowrap;  /* on interdit le retour à la ligne*/
    padding: 5px 14px;
    background: #ffffff;
    color: rgb(0, 0, 0);
    border-radius: 4px;
    font-size: 1.2rem;

}

/* on génère un second élément en :before pour la flèche */

[aria-label]:hover:before,
[aria-label]:focus:before {
    content: "▼";
    position: absolute;
    top: -1em;
    left: 50%;
    transform: translateX(-50%); /* on centre horizontalement  */
    font-size: 20px;
    color: #ffffff;
}

/* pas de contour durant le :focus */
[aria-label]:focus {
    outline: none;
}
/* -----------
textes
---------------*/
#titreTxt {
    width: 100%;
    justify-content: right;
    font-size: xx-large;
    text-shadow: 0 -1px 4px #FFF, 0 -2px 10px #ff0, 0 -10px 20px #ff8000, 0 -18px 40px #F00;
    color: #000000;
    background: transparent;
}
h1,h2,p{
    font-family: Arial, Helvetica, sans-serif;
    
}
h1{
    padding-top: 1em;
}

.dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    align-items: center;
    font-size: x-small;
    text-align: left;
    display: none;
    position: absolute;
    background-color: #ffffffbb;
    color: black;
    top: 36px;
    right: 0px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    padding: 12px 16px;
    border-radius: 10px;
    border: 1px solid black;
    z-index: 1;
  }
  .dropdown-total{
text-align: right;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }

  .img404 {
      background-size: cover;
    background-image: url(../img/shadocks1.gif) ;
  }
  